:host {
  width: 100%;
}

table {
  //width: 50%;
  //border: 1px solid green;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.overlay-block {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}
.mat-column-complete {
  width: 50px;
}
.mat-column-action {
  width: 130px;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-input-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-button-block {
  margin-left: 1rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;

  .header-button + .header-button {
    margin-left: 10px;
  }

}
