<ng-container *ngIf="dataSource.length > 0; else noDataTemplate">

  <div class="header-container">
    <div class="header-input-block">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" (input)="search($event)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="header-button-block">
      <button mat-raised-button color="primary" (click)="createTask()" class="header-button">
        Create
      </button>
      <button *ngIf="isSelected" mat-raised-button color="warn" (click)="deleteTasks()" class="header-button">
        Delete selected
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSourceFiltered" matSort (matSortChange)="announceSortChange($event)"
         cdkDropList (cdkDropListDropped)="drop($event)">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="button-row">
          <mat-checkbox [(ngModel)]="element.selected"
                        [color]="'primary'"
                        (ngModelChange)="addToSelectedList(element)">
          </mat-checkbox>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">
        <span appStatusColor [statusValue]="element.status">{{element.status}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <div class="button-row">
          <button mat-mini-fab
                  color="primary"
                  [matTooltip]="'Edit'"
                  (click)="editTask(element)">
            <mat-icon aria-hidden="false"
                     aria-label="Example home icon"
                     fontIcon="edit">
            </mat-icon></button>
          <button mat-mini-fab
                  color="warn"
                  [matTooltip]="'Delete'"
                  (click)="deleteTask(element)">
            <mat-icon aria-hidden="false"
                      aria-label="Example home icon"
                      fontIcon="delete">
            </mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let element"><span [class.text-decoration-line-through]="element.selected"> {{element.title}} </span></td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element"><span [class.text-decoration-line-through]="element.selected"> {{element.description}} </span></td>
    </ng-container>

    <ng-container matColumnDef="dateCreate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Create Date</th>
      <td mat-cell *matCellDef="let element"><span [class.text-decoration-line-through]="element.selected"> {{element.dateCreate | date: 'short' }} </span></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 [pageSize]="5"
                 showFirstLastButtons
                 aria-label="Select page of tasks">
  </mat-paginator>

</ng-container>
<ng-template #noDataTemplate>
  <div class="d-flex justify-content-center align-items-center w-100 text-center">
    <mat-spinner class="m-5" [diameter]="50"></mat-spinner>
    <div class="overlay-block"></div>
  </div>
</ng-template>
